__pycache__/
venv/
.git/
.idea/
.venv
config.py
data/positive/mined/*.json
data/positive/mined/*.txt
data/positive/train/*.txt
data/positive/test/*.txt
data/negative/mined/*.json
data/negative/mined/*.txt
data/negative/train/*.txt
data/negative/test/*.txt
