__pycache__/
venv/
.git/
.idea/
.venv
config.py
data/positive/*.json
data/positive/*.txt
data/positive/train/*.txt
data/positive/test/*.txt
data/negative/*.json
data/negative/*.txt
data/negative/train/*.txt
data/negative/test/*.txt
